.join {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  .join {
    flex-direction: column;
    gap: 1rem;
  }
}

.left-j {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 768px) {
  .left-j {
    font-size: x-large;
    flex-direction: column;
  }
}
.left-j > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 50%;
  margin-top: -1.5rem;
}
.left-j > div {
  display: flex;
  gap: 1rem;
}

.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
}
.email-container > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
  font-size: 1rem;
}
::placeholder {
  color: var(--lightgray);
}
@media screen and (max-width: 768px) {
  .email-container {
    padding: 1rem;
    gap: 2rem;
  }
  .email-container > input {
    font-size: normal;
  }
}

.btn-j {
  background-color: var(--orange) !important;
  color: var(--white);
  font-size: 1rem;
}
